<section class="billinfo">
	<a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
	<a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
	<div class="bill cf" ng-model="bills">
		<img ng-src="{{bills[whichItem].logo}}" alt="Photo of {{item.name}}" id="detail-logo">
		<a href="{{bills[whichItem].link}}"><h1>{{bills[whichItem].name}} »</h1>
		</a>
		<h3>{{bills[whichItem].phone_number}}</h3>
		<div class="bill-info">
			<p><span class="dark">Due Date: </span>{{bills[whichItem].due_date}}</p>
			<p><span class="dark">Amount: </span>${{bills[whichItem].amount_due}}</p>
		</div>
	</div>
	<a ng-href="index.html#/list">&laquo; Back to List</a>
</section>