<div class="search">
	<img src="../images/logo.png" id="applogo" alt="Logo">
	<h1>PassBook</h1>
	<p>{{date | date:'MMM d, y'}}</p>
</div>
<!-- Firebase -->
<section class="billinfo">
	<div class="bill cf">
		<img ng-src="{{bill.logo}}" alt="Photo of {{bill.name}}" id="detail-logo">
		<a href="{{bill.link}}" target="blank"><h1 id="billname">{{bill.name}} »</h1>
		</a>
		<h3>{{bill.phone_number}}</h3>
		<div class="bill-info">
			<p><span class="dark">Due Date: </span>{{date | date:'MMMM'}} {{bill.due_date}}, {{date | date:'yyyy'}}</p>
			<p><span class="dark">Amount: </span>${{bill.amount_due}}</p>
		</div>
	</div>
	<form name="dashColorForm"
		id="dashColorForm"
		novalidate>
		<div class="radio-toolbar">
			<input 
				type="radio" 
				id="radio1" 
				name="radios"
				ng-model="paid" 
				ng-change="paidChange(paid)"
				value="green">
		  <label for="radio1" id="greenRadio"></label>

		  <input 
		  	type="radio" 
		  	id="radio2" 
		  	name="radios"
		  	ng-model="paid" 
		  	ng-change="paidChange(paid)"
		  	value="grey">
		  <label for="radio2" id="grellowRadio"></label>
		</div>
	</form>
	<a ng-href="index.html#/list" id="backtolist">&laquo; Back to List</a>
</section>