<section class="billpage">
	<div class="search">
		<img src="../images/logo.png" id="applogo" alt="Logo">
		<h1>PassBook</h1>
		<label>search: </label>
		<input ng-model="query" placeholder="Search for a bill" autofocus>
		<label class="formgroup"> Sort by:
			<select ng-model="billOrder">
				<option value="name">Name</option>
				<option value="due_date" selected>Due Date</option>
			</select>
		</label>
	</div>
	<ul class="billlist">
		<li ng-animate="'animate'"class="bill cf" ng-repeat="(key,bill) in bills">
			<a href="#/details/bills/{{key}}">
				<img ng-src="{{bill.logo}}" alt="Photo of {{bill.name}}">
				<div class="info">
					<h2>{{bill.name}}</h2>
				</div>
			</a>
		</li>
	</ul>
</section>