<section class="billpage">
	<div class="search">
		<h1>Bill Directory</h1>
		<label>search: </label>
		<input ng-model="query" placeholder="Search for bills" autofocus>
		<label class="formgroup">by:
			<select ng-model="billOrder">
				<option value="name">Name</option>
				<option value="reknown">Reknown</option>
			</select>
		</label>
	</div>
	<ul class="billlist">
		<li ng-animate="'animate'"class="bill cf" ng-repeat="item in bills | filter: query | orderBy: billOrder">
			<a href="#/details/{{bills.indexOf(item)}}">
				<img ng-src="{{item.logo}}" alt="Photo of {{item.name}}">
				<div class="info">
					<h2>{{item.name}}</h2>
					<p>{{item.reknown}}</p>
				</div>
			</a>
		</li>
	</ul>
</section>